.bulletGroup {
    border-radius: 5px;
    background-color: #618AF2;
    width: auto;
    border-radius: 25px;
    padding-bottom: 40%;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    color: #E7A1AB;
}

.summaryHeader {
    padding-top: 10px;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.bullets {
    justify-content: left;
    color: black;
}

.closeButton {
    border: none;
    float: right;
    background-color: transparent;
    padding-top: 10px;
    padding-right: 20px;
}
 