.heading {
    color: white;
    padding-top: 20px;
    font-size: 40px;
}

.toggle {
    background-color:#2a196e; 
    color:#2a196e; 
    border-radius: 5px;
    margin-top: 10px;
    padding: 6px;
   
}

.county {
    background-color:#F7CD5A; 
    text-align: center;
    min-height: 100vh;
}

.buttonsCounty {
    background-color:#2a196e;
    border: none;
    color: #ECE9FD;
    font-weight: bold;
    padding: 10px;
    font-size: 18px;;
}

.buttonsCounty:active {
    background-color:#ECE9FD;
    border: none;
    border-radius: 5px;
    color: #8976E1;
}

.buttonsCounty:hover {
    background-color:#ECE9FD;
    border: none;
    border-radius: 5px;
    color: #2a196e;
}

.circle {
    color: #8976E1;
}

.block {
    display: flex;
    padding-top: 10px;
}

.column1 {
    flex: 50%;
    border-radius: 5px;
    background-color: #FFF7E0;
    margin-left: 8px;
    width: 70%;
    color: #d4a823;
    font-weight: bold;
    font-size: 20px;
    
}

.column2 {
    flex: 50%;
    border-radius: 5px;
   
}

.risk {
    border-radius: 5px;
    background-color: #F45653;
    width: 70%;
    border: none;
    padding: 16px;
    margin-bottom: 10px;
    color: #9c1f1d;
    font-weight: bold;
    font-size: 20px;
}

.map {
    border-radius: 5px;
    background-color: #E7FFE7;
    width: 70%;
    border: none;
    padding: 20px;
    color: #688668;
    font-weight: bold;
    font-size: 20px;
   
}

.fullStats {
    background-color: #EEB311;
    border-radius: 5px;
    border: none;
    width: 90%;
    margin-top: 20px;
    padding: 20px;
    font-weight: bold;
    color: #6e5100;
    font-size: 20px;
}

.scrollableContainerCounty {
    padding: 10px;
    overflow-x: scroll;
    display: grid;
    grid-auto-columns: 90%;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
}

.cardCounty {
    background-color: #F6F8EA;
    padding: 10px;
    border-radius: 25px;
    scroll-snap-align: center;
    transition: all 0.2s;
}

.scrollableContainerCounty::-webkit-scrollbar {
    height: 12px;
}

.scrollableContainerCounty::-webkit-scrollbar-thumb,
.scrollableContainerCounty::-webkit-scrollbar-track {
  border-radius: 20px;
}

.scrollableContainerCounty::-webkit-scrollbar-thumb {
    background: #DF6053;
}
  
.scrollableContainerCounty::-webkit-scrollbar-track {
    background: #F6F8EA;
    margin-left: 10px;
    margin-right: 10px;
}