.heading {
    color: white;
    padding-top: 20px;
    font-size: 40px;
}

.toggle {
    background-color:#2a196e; 
    color:#2a196e; 
    border-radius: 5px;
    margin-top: 10px;
    padding: 6px;
   
}

.county {
    background-color:#F7CD5A; 
    text-align: center;
    min-height: 100vh;
}

.buttons {
    background-color:#2a196e;
    border: none;
    color: #ECE9FD;
    font-weight: bold;
    padding: 10px;
    font-size: 18px;;
}

.buttons:active {
    background-color:#ECE9FD;
    border: none;
    border-radius: 5px;
    color: #8976E1;
}

.buttons:hover {
    background-color:#ECE9FD;
    border: none;
    border-radius: 5px;
    color: #2a196e;
}

.circle {
    color: #8976E1;
}

.block {
    display: flex;
    padding-top: 10px;
}

.column1 {
    flex: 50%;
    border-radius: 5px;
    background-color: #FFF7E0;
    margin-left: 8px;
    width: 70%;
    color: #d4a823;
    font-weight: bold;
    font-size: 20px;
    
}

.column2 {
    flex: 50%;
    border-radius: 5px;
   
}

.risk {
    border-radius: 5px;
    background-color: #F45653;
    width: 70%;
    border: none;
    padding: 16px;
    margin-bottom: 10px;
    color: #9c1f1d;
    font-weight: bold;
    font-size: 20px;
}

.map {
    border-radius: 5px;
    background-color: #E7FFE7;
    width: 70%;
    border: none;
    padding: 20px;
    color: #688668;
    font-weight: bold;
    font-size: 20px;
   
}

.fullStats {
    background-color: #EEB311;
    border-radius: 5px;
    border: none;
    width: 90%;
    margin-top: 20px;
    padding: 20px;
    font-weight: bold;
    color: #6e5100;
    font-size: 20px;
   
}