.footer {
    background-color: #FFF9E9;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    width: 60%;
    left: 50%;
    margin-left: -30%;
    text-align: center;
}

.bottom-nav-link {
    color: #142567;
}


.bottom-nav-link:active {
    color: #DF6053;
}

.active {
    color: #DF6053;
}

.icon-row {
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.item {
    margin-left: 25px;
    margin-right: 25px;
}