.scrollableContainerHome {
    padding: 10px;
    overflow-x: scroll;
    display: grid;
    grid-auto-columns: 90%;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
}

.cardHome {
    background-color: #F6F8EA;
    padding: 10px;
    border-radius: 25px;
    scroll-snap-align: center;
    transition: all 0.2s;
}

.scrollableContainerHome::-webkit-scrollbar {
    height: 12px;
}

.scrollableContainerHome::-webkit-scrollbar-thumb,
.scrollableContainerHome::-webkit-scrollbar-track {
  border-radius: 20px;
}

.scrollableContainerHome::-webkit-scrollbar-thumb {
    background: #DF6053;
}
  
.scrollableContainerHome::-webkit-scrollbar-track {
    background: #F6F8EA;
    margin-left: 10px;
    margin-right: 10px;
}

.home {
    text-align: center;
    background-color: #142567;
    min-height: 100vh;
}

.heading {
    color: white;
    padding-top: 20px;
    font-size: 40px;
}

.topicHeaderHome {
    color: #9F9900;
    padding: 15px;
    font-size: 40px;
    background-color: #FFF854;
    border-radius: 25px;
    width: fit-content;
    margin: auto;
}

.bulletStyle {
    text-align: left;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 18px;
    color: #9197AA;
    padding-bottom: 10px;
}

.homeButtonStyle {
    color: #97281D;
    padding: 15px;
    font-size: 30px;
    background-color: #DF6053;
    border-radius: 25px;
    width: fit-content;
    margin: auto;
    border: none;
    font-weight: bold;
}

.image {
    padding-top: 10px;
    width: 45%;
    padding-bottom: 20px;
}

.listHome {
    padding-bottom: 5px;
}

.own-article {
    margin-top: 10px;
}

.spacer {
    clear: both; height: 120px;
}