.inputArticle {
    background-color:#F5F5F5; 
    color:#DF6053; 
    border-radius: 20px;
    position: fixed;
    height: 70%;
    width: 80%;
    justify-content: center;
    align-items: center;
    left: 10%;
    top: 5%;
}

.closeButton {
    border: none;
    float: right;
    background-color: transparent;
    padding-top: 10px;
    padding-right: 20px;
}


.buttonInputStyle {
    color: #97281D;
    padding: 15px;
    font-size: 30px;
    background-color: #DF6053;
    border-radius: 25px;
    width: fit-content;
    margin: auto;
    border: none;
    font-weight: bold;
    margin-top: 20px;
}

.inputContent {
    margin-left: 30px;
    margin-right: 30px;
}

.inputHeader {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}