.scrollableContainerOverview {
    padding: 10px;
    overflow-x: scroll;
    display: grid;
    grid-auto-columns: 70%;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
}

.cardOverview {
    background-color: #f3f7ff;
    padding: 10px;
    border-radius: 25px;
    scroll-snap-align: center;
    transition: all 0.2s;
}

.scrollableContainerOverview::-webkit-scrollbar-thumb,
.scrollableContainerOverview::-webkit-scrollbar-track {
  border-radius: 20px;
}

.scrollableContainerOverview::-webkit-scrollbar-thumb {
    background: #2556D7;
}
  
.scrollableContainerOverview::-webkit-scrollbar-track {
    background: #f3f7ff;
    margin-left: 10px;
    margin-right: 10px;
}

.heading {
    color: white;
    padding-top: 20px;
    font-size: 40px;
}

.topicHeader {
    color: #C6D6FF;
    padding: 15px;
    font-size: 40px;
    background-color: #2556D7;
    border-radius: 25px;
    width: fit-content;
    margin: auto;
}

.overview {
    text-align: center;
    background-color: #618AF2;
    min-height: 100vh;}


.topics {
    background-color: #f3f7ff;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    padding: 16px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-bottom: 100px;
}


.newsButton {
    border-radius: 5px;
    background-color: #618AF2;
    width: 40%;
    border-radius: 25px;
    height: 130px;
    padding-bottom: 40%;
    border: none;
    padding: 16px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    color: #132f75;
    font-weight: bolder;
    font-size: 25px;

}